body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: black;
}

.mobile-screen {
    width: 550px;
    height: 97vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    margin: 0 auto;
}

.mobile-content {
    display: none;
    margin-top: 50px;
}

.mobile-content.active {
    display: block;
}


.title-bar {
    background-color: #FF6F00; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 560px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.hamburger-menu {
    font-size: 25px;
    cursor: pointer;
}

.title-bar h1 {
    margin: 0;
    font-size: 20px;
}

.user-icon {
    font-size: 25px;
}

.welcome-section {
    margin-top: 80px; 
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #FF6F00; 
}

.inventory-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.info-box {
    background-color: #FF6F00; 
    color: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.tab-bar {
    display: flex;
    justify-self: flex-end;
    align-self: center;
    justify-content: space-around;
    background-color: #FF6F00; 
    padding: 20px;
    width: 550px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}

.tab-bar button {
    color: white; 
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
}

.tab-bar i {
    font-size: 20px;
    margin-bottom: 5px;
}



.tab-bar button:hover {
    background-color: white;
    color: #FF6F00;
}




.styled-button {
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.styled-button:hover {
    background-color: #45a049;
}
